<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br><br><br><br><br>

        <h1 class="header center orange-text">Scrape the New York Times</h1>

        <div class="row center">
            <h5 class="header col s12 light">Use this app to scrape, save, and add notes to articles from the New York Times Global Headlines</h5>
        </div>

        <br><br>

        <div class="row center">
            <a href="#modal1" class="btn-large waves-effect waves-light orange modal-trigger" id="scrape_now">Scrape Now</a>
        </div>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Scraped new articles!</h4>
                <p>Your old scraped articles have been removed. Saved articles have been retained.</p>
            </div>
            
            <div class="modal-footer">
                <a href="/scraped" class="modal-close waves-effect waves-green btn">Okay</a>
            </div>
        </div>
        

        <br><br>

    </div>
</div>

<script src="/assets/javascript/index.js"></script>